/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 /*
 *= require font-awesome
 */

 @import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Poppins');
 
  *{
  box-sizing: border-box;
 }
 
 .dropdown-toggle{
  cursor: pointer;
 }

 .box{
     margin: .5em 2.5%;
 }

 
 .music-img{
  width: 15%;
 }
 
.music-info{
 width: 85%;
 padding: 0 1em;
}
 
 .music-cover{
  width: 100%;
 }
 
 .music-box{
  height: 100vh;
 }
 
 .jumbotron-music{
  margin-top: 3em;
 }
 
 .jumbotron-user-music{
  font-size: 2em;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  
 }
 
 .jumbotron-content{
  width: 70%;
  padding: 1em;
 }
 
 .jumbotron-image{
  width: 30%;
  text-align: right;
 }
 
 .jumbotron-music-cover{
  width: 50%;
 }
 
 .music-controler{
  width:100%;
 }
 
 .roww{
  content: '';
  clear: both;
 }
 
 .bg-dark-gray{
  background-color: #bbbbbb;
 }
 
 //// COMMENTS ////
 
 #comment-container{
  margin-top: 2em;
 }
 
 div[id^="comment_"]{
  margin: 1em 0;
 }
 
 .comment-user{
  text-decoration: none;
  font-weight: bold;

 }
 
 .comment-user:hover{
  text-decoration: none;
 }
 
 .comment-date{

 }
 
 .comment-content{
  font-size: 90%;
  margin: -.7em 1em .5em 1em;
 }
 
 textarea { resize: none; }
 
 

 //// NAVBAR ////
 
.navbar-nav .nav-link {
  color: #fff;
}

.navbar-nav .nav-link:focus {
  color: #fff;
}

#main_menu_area .navbar {
  width: 100%;
  padding: 0em 4em;
}

#main_menu_area .navbar .navbar-collapse {
  text-align: right;

}

#main_menu_area .navbar .navbar-nav {
  display: inline-block;
}

#main_menu_area .navbar .navbar-nav li {
  display: inline-block;
  margin-right: 50px;
}

#main_menu_area .navbar .navbar-nav li a {
  padding: 0px;
  line-height: 99px;
  color: #fff;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

#main_menu_area .navbar .logo{
 font-weight: bold;
}

#main_menu_area .navbar .navbar-nav li:last-child {
  margin-right: 0px;
}

#main_menu_area .navbar .navbar-nav li:hover a, .main_menu_area .navbar .navbar-nav li.active a {
  color: #2bc0a4;
}



#main_menu_area .navbar .navbar-nav.justify-content-end {
  margin-left: 85px;
}

#main_menu_area .navbar .navbar-nav.justify-content-end li {
  margin-right: 25px;
}

#main_menu_area .navbar .navbar-nav.justify-content-end li a {
  font-size: 16px;
}

#main_menu_area .navbar .navbar-nav.justify-content-end li:last-child {
  margin-right: 0px;
}

#main_menu_area.navbar_fixed {
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(70px);
  -ms-transform: translateY(70px);
  transform: translateY(70px);
  -webkit-transition: background 500ms ease, -webkit-transform 500ms ease;
  transition: background 500ms ease, -webkit-transform 500ms ease;
  -o-transition: transform 500ms ease, background 500ms ease;
  transition: transform 500ms ease, background 500ms ease;
  transition: transform 500ms ease, background 500ms ease, -webkit-transform 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
}

#main_menu_area.navbar_fixed .navbar .navbar-nav li a {
 line-height: 70px;
}

 
 .dropdown-menu .dropdown-item{
  text-align: center;
  color: black !important;
 }
 
 
//// LANDING ////

#landing{
 background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../../wallpaper3.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 width: 100%;
 height: auto;
 padding: 17%;
}

#landing > .landing-box{
 text-align: center;
 color: #fff;
 text-shadow: 1px 1px 7px #000, 1px 1px 7px #000;
 font-weight: bold;
}

.landing-box >  h1{
 margin: 0 0 .5em 0;
 font-size: 400%;
}


.sections{
 width: 100%;
 padding: 7em 1em;
}

//// SECTION 1 ////

#section1{
 background-color: #f2f2f2;
}

.section-boxes{
 width: 100%;
 margin: 2em 0;
}

.section-box{
 width: 30%;
 display: inline-block;
 text-align: center;
 margin: 0 1.5%;
 padding: 1em;
}

.section-box > .section-box-icon{
 font-size: 900%;
}

.section-box > .section-box-info{
 padding: 3em;
 font-family: 'Poppins', sans-serif;
 font-weight: 400;
 font-size: 1.1em;
}

//// SECTION2 ////

#section2{
 background-color: #fff;
 font-family: 'Poppins', sans-serif;
}

#section2 > h1{
 margin: 0 0 3% 4.9%;
}

#section2 .popular-music-box{
padding: 1em;
}

#section2 .popular-music-image > img{
 width: 100%;
 height: 100%;
}

#section2 .popular-music-title{
 text-align: center;
 padding-top: .5em;
 font-weight: 400;
}

//// PROFILE ////

.profile-box{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
}

.profile-card {
  max-width: 300px;
  margin: auto;
  padding-bottom: 1em;
  text-align: center;
 font-family: 'Poppins', sans-serif;
}

.profile-card .profile-image{
 width: 100%;
 margin-bottom: 1em;
}

.profile-card .profile-image > img {
 width: 100%;
 height: 100%;
}

.profile-card .title {
  color: grey;
  font-size: 18px;
}

.profile-card button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.profile-card a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.profile-content{
 padding: 1em;
}

.profile-content .user-musics{
 margin-top: 2em;
}

//// ADMIN CONTENT ////

.admin-content{
 padding: 1em;
}

.admin-content .admin-users-table{
 margin-top: 2em;
}