/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 /*
 *= require font-awesome
 */

 @import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Poppins');
 
  *{
  box-sizing: border-box;
 }
 
  .remove-dropdown-arrow::after{
    display:none;
 }

 .box{
     margin: .5em 2.5%;
 }
 
 .genre-box{
  margin: .6em 1em;
  padding: .5em 0 .6em 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.15);
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  transition: 0.3s;
 }
 
 .genre-box:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
 }
 
 .music-img{
  width: 15%;
 }
 
.music-info{
 width: 85%;
 padding: 0 1em;
}
 
 .music-cover{
  width: 100%;
 }
 
 .music-box{
  height: 100vh;
  border-left: 1px solid rgba(0, 0, 0, 0.125);;
  border-right: 1px solid rgba(0, 0, 0, 0.125);;
 }
 
 .jumbotron-music{
  margin-top: 3em;
 }
 
 .jumbotron-user-music{
  font-size: 2em;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  
 }
 
 .jumbotron-content{
  width: 70%;
  padding: 1em;
 }
 
 .jumbotron-image{
  width: 30%;
  text-align: right;
 }
 
 .jumbotron-music-cover{
  width: 50%;
 }
 
 .music-controler{
  width:100%;
 }
 
 .roww{
  content: '';
  clear: both;
 }
 
 .bg-dark-gray{
  background-color: #bbbbbb;
 }
 
 #comment-container{
  margin-top: 2em;
 }
 
 .comment{
  margin: 1em 0;
 }
 
 .comment-user{
  text-decoration: none;
  font-weight: bold;

 }
 
 .comment-user:hover{
  text-decoration: none;
 }
 
 .comment-date{

 }
 
 .comment-content{
  font-size: 90%;
  margin: -.7em 1em .5em 1em;
 }
 
 textarea { resize: none; }